.menu{
    height: 60px;
    width: 100%;
}
.admin-modal{display: block;}
.tabheader{width:280px;padding:35px 30px;background-color:#fff}
.tabheader h3{font-weight:700;font-size:16px}
.tabheader__items{margin-top:35px;padding-left:26px;border-left:1px solid #000}
.tabheader__item{font-weight:700;font-size:18px;font-weight:300;margin-top:10px;color:rgba(0,0,0,.6);cursor:pointer;transition:.3s all}
.tabheader__item_active{color:#000;font-size:22px;font-weight:700}
.tabcontainer{display:flex;width:900px;margin-left:190px;box-shadow:0 4px 30px rgba(0,0,0,.25)}
.tabcontent{width:850px;position:relative}
