
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

   <!-- <link rel="stylesheet" href="../static/css/menu.css">
   <link rel="stylesheet" href="../static/css/main.css">
   <link rel="stylesheet" href="../static/css/button.css">
   <link rel="stylesheet" href="../static/css/modal.css">
   <link rel="stylesheet" href="../static/css/about.css"> -->

    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/about.css">
<script>

</script>
</head>
<body>
<div class="logo">
    <img width="104px" height="108px" src="img/icons/image_2022-04-15_23-00-01.png" alt="">
</div>
    <div class="about-topnav topnav ">
        <!-- <div  class="icon" >
            <img src=/static/img/icons/6351905_burger_checklist_list_menu_navigation_icon.png" alt="">
        </div> -->

        <div class="menu-item2 cimple">

            <a href="/main" class="active">SERVICES</a>
            <a href="/main">CONTACT</a>
            <a href="/about">ABOUT</a>
            <a  class="user_icon"><img id="user_icon" width="30px" src="img/icons/172622_black_user_female_icon.png" alt="">
                <div class="user_block_container">
                <div class="user_block ">

                    <div class="user_block_content"><div class="user_info_bd">
                        <div class="user_info">
                            <img src="img/icons/638178_avatar_brunette_female_portrait_profile_icon.png" width="90px"height="90px" alt="">
                            <div class = "user_info_content">
                                <h1>Виктория</h1>
                                <p>+(380)95-188-29-92</p>
                            </div>
                        </div>
                        <div class="user_info">
                            <img src="img/icons/1814073_discount_price_tag_icon.png" alt="">
                            <h2>10%</h2>
                        </div>
                    </div>

                    <div class="exit_btn"> <img class="exit_btn_img" src="img/icons/2305619_door_exit_logout_open_out_icon%20(1).png" width="30px" height="40px" alt=""> <p>Выход</p> </div>
                </div>
                </div>
                </div>
            </a>
        </div>
<!--        <div class="user_block ">-->
<!--            <div class="user_block_content">-->
<!--                <div class="user_info">-->
<!--                    <h1>ЛЯ ля ля</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- <button data-modal class=" btn_dark" >Связаться с нами</button>
        <button data-modal class=" btn_dark" >Связаться с нами</button> -->
    </div>


<div class="abou_Us">
    <h1 class="h_about" >Наши фишки и особенности</h1>
    <div class="about_us_container">
         <div class="about_us_block">
           <span><img src="img/icons/9042813_page_star_icon.png" width="40px" alt=""></span> 
           Используем медицинскую стерилизацию - автоклавы IS YESON - поэтому наши гости не переживают за безопасность делая услуги у нас.
        </div>
        <div class="about_us_block">
            <span><img src="img/icons/9042813_page_star_icon.png" width="40px" alt=""></span>
            Используем современное оборудование, например фены Dyson, которые не повреждают волосы во время укладки и сохраняют естественный блеск.
         </div>
         <div class="about_us_block">
            <span><img src="img/icons/9042813_page_star_icon.png" width="40px" alt=""></span>
            Мы создали внутреннюю школу, где обучаем высоким стандартам сервиса и предоставления услуг. Это значит, что выбирая салоны нашей сети вы можете быть уверены, что попадете в руки настоящего профессионала, поскольку они обладают всеми новыми техниками стрижек, маникюра и макияжа.
         </div>
         <div class="about_us_block">
            <span><img src="img/icons/9042813_page_star_icon.png" width="40px" alt=""></span>
            Всегда отслеживаем все новинки и выбираем из них только ту косметику, которая действительно дает результат и достойна вашего внимания – вы можете положиться на нас, подбирая домашний уход.
         </div>
         <div class="about_us_block">
            <span><img src="img/icons/9042813_page_star_icon.png" width="40px" alt=""></span>
            Наша задача – не просто выполнить услугу, но и подсказать, что будет лучшим вариантом именно для вас, учитывая все индивидуальные особенности и предпочтения в стиле. Вы со спокойствием можете доверять кардинальные перемены нашим мастерам.
         </div>
         <div class="about_us_block">
            <span><img src="img/icons/9042813_page_star_icon.png" width="40px" alt=""></span>
            Предоставляем высококлассный сервис, поэтому у нас есть отдел качества, в который вы можете обратиться с любым замечанием или предложением и руководство сразу решит вашу ситуацию.
         </div>
    </div>
   
</div>

<footer>
    <div class="footerA">
        <div class="footerAa">
        <a href="/main" class="active">SERVICES</a>
        <a href="/main">CONTACT</a>
        </div>
        <div class="footerAa">
        <a href="/about">ABOUT</a>
        <a href="/main">MASTERS</a>
        </div>
        <div class="footerAimg">
            <img src="img/icons/image_2022-04-15_23-00-01.png" alt="" width="90px" height="90px">
        </div>
    </div>
    <hr>
    <div class="footerB">
        <img src="img/icons/7693324_telegram_social media_logo_messenger_icon.png" alt="">
        <img src="img/icons/5279112_camera_instagram_social media_instagram logo_icon.png" alt="">
        <img src="img/icons/5279111_network_fb_social media_facebook_facebook logo_icon.png" alt="">
    </div>
</footer>



<div class="modal enterence_modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <form action="#" class = "enter_form">

                <div class="modal__title">вход</div>
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input user_phone" id="user_phone_enter">
                <input required placeholder="Пароль" name="password" type="password" class="modal__input user_passw" id="user_passw_enter">
                <div  id="form_info_text_enter"></div>
                <button type="submit"  class=" btn_dark btn_min form_btn">Войти</button>

                <div class="in_form_btn reg_btn">Регистрация</div>
            </form>
        </div>
    </div>
</div>

<div class="modal registr_modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <form action="#" class = "registr_form">
<!--                <div class="modal__close">&times;</div>-->
                <div class="modal__title">РЕГИСТРАЦИЯ</div>
                <input required  placeholder="Ваше имя" name="name" type="text" class="modal__input" id="user_name">
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input user_phone" id="user_phone">
                <input required placeholder="Пароль" name="password" type="password" class="modal__input user_passw" id="user_passw">
                    <div  id="form_info_text"></div>
                <div class="centered">

                    <button type="submit"  class="registr_btn form_btn">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>


<script src="../static/js/main.js"></script>
<script src="../static/js/form.js"></script>

    <script src="js/main.js"></script>
    <script src="js/form.js"></script>
</body>
</html>
