
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!--    <link rel="stylesheet" href="../static/css/menu.css">-->
<!--    <link rel="stylesheet" href="../static/css/main.css">-->
<!--    <link rel="stylesheet" href="../static/css/button.css">-->
<!--    <link rel="stylesheet" href="../static/css/modal.css">-->


    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/button.css">
<script>

</script>
</head>
<body>
<div class="logo">
    <img width="104px" height="108px" src="img/icons/image_2022-04-13_15-48-51.png" alt="">
</div>
    <div class="topnav">
        <!-- <div  class="icon" >
            <img src=/static/img/icons/6351905_burger_checklist_list_menu_navigation_icon.png" alt="">
        </div> -->

        <div class="menu-item cimple">

            <a href="#services" class="active">SERVICES</a>
            <a href="#contact">CONTACT</a>
            <a href="/about">ABOUT</a>
            <a  class="user_icon"><img id="user_icon" width="30px" src="img/icons/172622_user_female_icon.png" alt="">
                <div class="user_block_container">
                <div class="user_block ">

                    <div class="user_block_content"><div class="user_info_bd">
                        <div class="user_info">
                            <img src="img/icons/638178_avatar_brunette_female_portrait_profile_icon.png" width="90px"height="90px" alt="">
                            <div class = "user_info_content">
                                <h1>Виктория</h1>
                                <p>+(380)95-188-29-92</p>
                            </div>
                        </div>
                        <div class="user_info">
                            <img src="img/icons/1814073_discount_price_tag_icon.png" alt="">
                            <h2>10%</h2>
                        </div>
                    </div>

                    <div class="exit_btn"> <img class="exit_btn_img" src="img/icons/2305619_door_exit_logout_open_out_icon%20(1).png" width="30px" height="40px" alt=""> <p>Выход</p> </div>
                </div>
                </div>
                </div>
            </a>
        </div>
<!--        <div class="user_block ">-->
<!--            <div class="user_block_content">-->
<!--                <div class="user_info">-->
<!--                    <h1>ЛЯ ля ля</h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- <button data-modal class=" btn_dark" >Связаться с нами</button>
        <button data-modal class=" btn_dark" >Связаться с нами</button> -->
    </div>
    <div class="header">

        <div class="main_kartinka">
            <img src="img/flover.png" alt="" id="flover">
            <img width="900px" height="500px" src="img/image_2022-04-13_16-21-39.png" alt="">
        </div>
    </div>
    <div class="icons_container" id="contact">

        <div class="icons_container_block">
        <img src="img/icons/iconfinder_phone_1164529.png" alt="">
        <h1 >Свяжитесь с нами</h1>
        <h2>+380 ** *** ** **</h2>
        </div>

        <div class="icons_container_block">
          <img src="img/icons/iconfinder_clock__time__hours__minutes__3653396.png" alt="">
          <h1>Наши двери открыты</h1>
          <h2>Пн - Пт: 9:00 - 18:00<br>
            Сб-Вс: 11:00 - 18:00</h2>
        </div>

        <div class="icons_container_block">
          <img src="img/icons/iconfinder_Pin_1214972.png" alt="">
            <h1>Как добраться</h1>
            <h2>Мы расположены в 15-ти минутах от центра города </h2>
        </div>

    </div>
    <div class="about_block" id="about">
        <div class="kolag">
            <!-- <img src=/static/img/image_2022-04-14_22-07-14.png" alt="" width ="295px"
            height= "368px"
            margin-left="96px"
            top="1258px"
            >
            <img src=/static/img/image_2022-04-14_22-07-30.png" alt="" width="241px"
            height="160px"
            margin-left="404px"
            top="1258px" id="">
            <img src=/static/img/image_2022-04-14_22-07-42.png" alt="" width="416px"
            height="268px"> -->
            <img src="img/image_2022-04-14_22-44-54.png" alt="" width="549px">
        </div>
        <div class="about_block_text">
            <h1>CHARM</h1>
            <p>Салон красоты бизнес-класса CHARM расположен в 15-ти минутах от центра города. Салон CHARM предназначен в первую очередь для тех, кто ценит индивидуальный подход, безупречный сервис, и по-настоящему ценит внешнюю и внутреннюю красоту.

                Мы предлагаем нашим клиентам максимально широкий спектр услуг, который включает последние тенденции в индустрии красоты.</p>
        </div>
    </div>


    <h2 class="h_serv" id="services">НАШИ УСЛУГИ</h2>
    <div class="services_container">


<!--        <div class="service_block">-->
<!--            <h1>Ногтевой сервис</h1>-->
<!--            <img src="img/slider/3y.jpg" alt="">-->
<!--            <h2>300</h2>-->
<!--                <div class="center">-->
<!--                    <button class="btn">-->
<!--                        <svg width="255px" height="60px" viewBox="0 0 255 60" class="border">-->
<!--                            <polyline points="254,1 254,59 1,59 1,1 254,1" class="bg-line" />-->
<!--                            <polyline points="254,1 254,59 1,59 1,1 254,1" class="hl-line" />-->
<!--                        </svg>-->
<!--                        <span>ЗАПИСАТЬСЯ</span>-->
<!--                    </button>-->
<!--                </div>-->

<!--        </div>-->



    </div>

    <div class="slider_masters_block">
        <h2 class="h_serv" id="masters">НАШИ МАСТЕРА</h2>
        <div id="slider">
            <div id="polosa">
            </div>
        </div>
    </div>

    <div class="quote">
        <p>"Quality is not an act, it is a habit"<br>
            ARISTOTLE</p>
        <img src="img/image_2022-04-14_23-08-30.png" alt="" width="528px">
    </div>


<footer>
    <div class="footerA">
        <div class="footerAa">
        <a href="#services" class="active">SERVICES</a>
        <a href="#contact">CONTACT</a>
        </div>
        <div class="footerAa">
        <a href="#about">ABOUT</a>
        <a href="#masters">MASTERS</a>
        </div>
        <div class="footerAimg">
            <img src="img/icons/image_2022-04-15_23-00-01.png" alt="" width="90px" height="90px">
        </div>
    </div>
    <hr>
    <div class="footerB">
        <img src="img/icons/7693324_telegram_social media_logo_messenger_icon.png" alt="">
        <img src="img/icons/5279112_camera_instagram_social media_instagram logo_icon.png" alt="">
        <img src="img/icons/5279111_network_fb_social media_facebook_facebook logo_icon.png" alt="">
    </div>
</footer>



<!-- <div class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <form action="#" class = "registr_form">

                <div class="modal__title">РЕГИСТРАЦИЯ</div>
                <input required  placeholder="Ваше имя" name="name" type="text" class="modal__input" id="user_name">
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input user_phone" id="user_phone">
                <input required placeholder="Пароль" name="password" type="password" class="modal__input user_passw" id="user_passw">
                    <div  id="form_info_text"></div>
                <div class="centered">

                    <button type="submit"  class="registr_btn form_btn">Зарегистрироваться</button>
                </div>
            </form>

            <form action="#" class = "enter_form">

                <div class="modal__title">Вход</div>
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input user_phone" id="user_phone_enter">
                <input required placeholder="Пароль" name="password" type="password" class="modal__input user_passw" id="user_passw_enter">
                <div  id="form_info_text_enter"></div>
                <button type="submit"  class=" btn_dark btn_min form_btn">Войти</button>

                <div class="reg_btn">Регистрация</div>
            </form>

            <div class="modal_request">
                <button id="close_modal_request"> Close</button>
                <div class="modal_request_container">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="modal select_master">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <div class="modal_request">
                <div class="modal__title">какого мастера предпочитаете?</div>
                <div class="modal_request_container">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal request_user_modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <form action="#" class = "request_form">
                <!--                <div class="modal__close">&times;</div>-->
                 <div class="modal__title">ОСТАВИТЬ ЗАЯВКУ</div>

                <input required  placeholder="Ваше имя" name="name" type="text" class="modal__input" id="anon_user_name">
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phoneClient" type="phone" class="modal__input anon_user_phone" id="anon_user_phone">
                <input type="hidden" name="idMaster"    value=""  id="idMaster">

                <input type="hidden" name="totalPrice"  value="" id="procent">
                <!-- <div  id="form_info_text" align-items="center"></div> -->

                <div class="in_form_btn if_have_acc_btn">У вас есть аккаунт?</div>
                <div class="centered">
                    <button type="submit"  class="request_btn form_btn">отправить</button>
                </div>
                <div class="request_form_preinfo" ></div>
            </form>
        </div>
    </div>
</div>

<div class="modal enterence_modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <form action="#" class = "enter_form">

                <div class="modal__title">вход</div>
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input user_phone" id="user_phone_enter">
                <input required placeholder="Пароль" name="password" type="password" class="modal__input user_passw" id="user_passw_enter">
                <div  id="form_info_text_enter"></div>
                <button type="submit"  class=" btn_dark btn_min form_btn">Войти</button>

                <div class="in_form_btn reg_btn">Регистрация</div>
            </form>
        </div>
    </div>
</div>

<div class="modal registr_modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__close">&times;</div>
            <form action="#" class = "registr_form">
<!--                <div class="modal__close">&times;</div>-->
                <div class="modal__title">РЕГИСТРАЦИЯ</div>
                <input required  placeholder="Ваше имя" name="name" type="text" class="modal__input" id="user_name">
                <input required minlength="10" maxlength="10" placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input user_phone" id="user_phone">
                <input required placeholder="Пароль" name="password" type="password" class="modal__input user_passw" id="user_passw">
                    <div  id="form_info_text"></div>
                <div class="centered">

                    <button type="submit"  class="registr_btn form_btn">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>





<!--<script src="../static/js/main.js"></script>-->
<!--<script src="../static/js/form.js"></script>-->

    <script src="js/main.js"></script>
    <script src="js/form.js"></script>
</body>
</html>
